body{
  font-family:"Avenir Next"
}
.header{
  background-color:#aabbcc;
  height:120px;
}
.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px 0px 40px;
}
.btn {
  float:right;
  padding:16px 24px;
  color:white;
  display:block;
  opacity:0.8;
  border-radius:4px;
  margin-left:10px;
  margin-right:10px;
  margin-top:16px;
  line-height:20px;
}
.twitter{
  letter-spacing: 1.5px;
  background-color:#55acee;
}
.insta{
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/
}
.copy-container{
  /*background-imageにはopacityプロパティはない*/
  background-image:url(https://github.com/moable/learn_HTML-CSS.html/blob/master/background.png?raw=true);
  background-size:cover;
  padding:0 auto;
  margin:0 auto;
}
.copy-container h1{
  font-size:180px;
  opacity:0.8;
  width:80%;
  text-align:center;
}
.copy-container span{
  color:#ff4a4a;
}
.title li{
  padding:5px;
  font-size:20px;
}
.option ul{
  list-style:none;
}
.contents h2{
  font-size:60px;
  text-align:center;
  border-bottom:2px solid black;
  background-color:skyblue;
}
.contents h3{
  font-size:40px;
}
.explain{
  font-size:20px;
  font-weight:bold;
  padding-right:400px;
}
.learn-tag ul li,.learn-css ul li{
  font-size:30px;
  color:red;
  list-style:none;
}
.learn-tag ul p,.learn-css ul p{
  font-size:20px;
}
.learn-tag span,.learn-css span{
  color:red;
}
.tag-box,.pro-box{
  margin:30px;
  padding:30px;
  background-color:#ffffbf;
  border-radius:20px;
}
.tag-box img{
  width:300px;
  height:300px;
  z-index:1px;
}
.tag-box{
  position:relative;
}
.png1{
  position:absolute;
  top:180px;
  left:280px;
}
.png1 p{
  text-align:center;
}
.png2{
  padding:40px 0px 0px 600px;
}
.png2 p{
  padding:0px 0px 0px 100px;
}
.tips{
  color:blue;
  border:10px solid blue;
  width:900px;
  padding:30px 30px;
  margin:100px auto;
  border-radius:20px
}
.tips p{
  border-bottom:1px solid black;
  font-size:20px;
  color:blue;
}
.tips span{
  color:gray;
}
.make-htmlcss ol{
  list-style-type:decimal;
  font-size:30px;
  font-weight:bold;
  margin:100px;
}
.make-htmlcss ul li{
  font-size:30px;
  color:red;
  font-weight:normal;
}
.make-htmlcss ol li{
  padding:20px;
  margin:20px;
}
.make-htmlcss p{
  font-size:20px;
  margin:10px;
  padding:10px;
}
.head-rule{
  background-color:#bfbfbf;
  border-radius:20px;
}
.layout{
  background-color:#ffbfbf;
  border-radius:20px;
  }
.layout p{
  font-size:30px;
}
.application ul li{
  font-size:30px;
  font-weight:bold;
  margin:50px 0;
}
.application p,.progate p{
  font-size:30px;
}
.progate a{
  font-size:30px;
  padding:30px;
}
.inquiry{
  width:600px;
  padding:20px;
  margin-top:20px;
  background-color:yellow;
}
.footer{
  background-color:#2f5167;
  color:#fff;
  height:150px;
  padding:40px;
}
.footer-logo{
  font-size:32px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li{
  list-style:none;
  padding-bottom:20px;
}
.footer-list a{
  color:white;
}
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
